body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.fila {
    display: flex;
    justify-content: space-around;
}

.fila img {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    border:2px solid black;
}

.fila1 {
    background-color: #ffd700;
    padding: 10px;
}

.fila2 {
    background-color: #87cefa;
    padding: 10px;
}

.fila3 {
    background-color: #ff7f7f;
    padding: 10px;
}

footer {
    background-color: #90ee90;
    padding: 10px;
}

footer p {
    margin: 0;
}