body{
    padding: 5px;
}

.description {
    font-family: Arial, sans-serif;
    max-width: 600px; 
}
.tar-usu{
    margin-top: 50px;
}

.tar-sup{
    background-color: #00bcd4; 
    height: 100px; 
    display: flex;
    position: relative; 
    padding: 10px;
}

.pro-pic {
    border-radius: 50%;
    width: 150px; 
    height: 150px;
    display: flex;
    position: relative;
    margin-left: 20px;
    border: 2px solid white;
}






